<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{{ url_for('pagina_inicial') }}">Gerenciador Escolar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('pagina_inicial') }}">Início</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mb-4">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div>
            <h1>{{ titulo }}</h1>
        </div>
        <div class="table-responsive" style="width: 75%;">
            <table class="table table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>Primeiro Semestre</th>
                        <th>Segundo Semestre</th>
                        <th>Média Final</th>
                        <th>EDITAR</th>
                        <th>DELETAR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.data_nascimento.strftime("%d/%m/%Y") }}</td>
                        <td>{{ aluno.nota_primeiro_semestre }}</td>
                        <td>{{ aluno.nota_segundo_semestre }}</td>
                        <td>{{ aluno.media_final }}</td>
                        <td><a href="{{ url_for('aluno_rota.editar_aluno', nome=aluno.nome) }}" class="btn btn-danger btn-sm">EDITAR</a></td>
                        <td><a href="{{ url_for('aluno_rota.deletar_aluno', nome=aluno.nome) }}" class="btn btn-danger btn-sm">DELETAR</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>