{% extends 'template.html' %}
{% block conteudo %}
    <form class="form" method="POST" action="{% if aluno %}{{ url_for('aluno_rota.editar_aluno', nome=aluno.nome) }}{% else %}{{ url_for('aluno_rota.criar_aluno') }}{% endif %}">
        <label class="form-label" for="nome_aluno">Nome do Aluno</label>
        <input class="form-control" type="text" id="nome_aluno" name="nome" value="{{ aluno.nome if aluno else '' }}" required>

        <label class="form-label" for="idade_aluno">Idade </label>
        <input class="form-control" id="idade_aluno" type="number" name="idade" value="{{ aluno.idade if aluno else '' }}" required>

        <fieldset>
          <legend>Selecione uma turma: </legend>

            {% for turma in turmas %}
              <div>
                <input type="radio" id="turma_{{ turma.id }}" name="turma" value="{{ turma.id }}" {% if loop.first %}checked{% endif %}>
                <label for="turma_{{ turma.id }}">{{ turma.descricao }}</label>
              </div>
            {% endfor %}

        </fieldset>

        <label class="form-label" >Data de Nascimento</label>
        <input class="form-control" type="date" name="data_nasc" value="{{ aluno.data_nasc if aluno else '' }}" required>

        <label class="form-label">Nota do Primeiro Semestre</label>
        <input class="form-control" type="number" name="nota_semestre_um" value="{{ aluno.nota_semestre_um if aluno else '' }}">

        <label class="form-label" >Nota do Segundo Semestre</label>
        <input class="form-control" type="number" name="nota_semestre_dois" value="{{ aluno.nota_semestre_dois if aluno else '' }}">

        <label class="form-label">Média Final</label>
        <input class="form-control" type="text" name="media_final" value="{{ aluno.media_final if aluno else '' }}">

        <button class="btn btn-primary btn-block mb-4" type="submit"> Envie </button>

    </form>
{% endblock %}
